<footer >
    <br>
    <br>
    <p align="center">Copyright © 2019 - San Pedro Sochiapam. All Rights Reserved</p>
    <p align="center">Contacto paguina: <a href="#">Francisco Perez Bautista</a>.</p>
    <br>
</footer>
