<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="obras">
      <th mat-header-cell *matHeaderCellDef> Obras </th>
      <td mat-cell *matCellDef="let element"> {{element.obras}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="contratos">
      <th mat-header-cell *matHeaderCellDef> Contratos </th>
      <td mat-cell *matCellDef="let element"> <a href="{{element.contratos}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="facturas">
      <th mat-header-cell *matHeaderCellDef> facturas </th>
      <td mat-cell *matCellDef="let element"> {{element.facturas}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
