<BR>
<mat-card-content>
    <ol type="1">
        <li>ACTAS 2018</li>
        <br>
            <a href="assets/pdfs/Actas/ACTA DE INTEGRACION DEL CONSEJO 2018.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ACTA DE INTEGRACION DEL CONSEJO 2018 <img src="assets/img/pdf.png"/></a><br>
            <br>
            <a href="assets/pdfs/Actas/ACTA DE PRIORIZACION DE OBRA 2018.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ACTA DE PRIORIZACION DE OBRA 2018<img src="assets/img/pdf.png"/></a><br>
            <br>
            <a href="assets/pdfs/Actas/ACTAS DE PRIORIZACIÓN DE OBRAS 2018 EVIDENCIA.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ACTAS DE PRIORIZACIÓN DE OBRAS 2018 EVIDENCIA<img src="assets/img/pdf.png"/></a><br>
            <br>
        <li>II. MARCO NORMATIVO APLICABLE</li>
            <br>
              <a href="assets/pdfs/II. MARCO NORMATIVO APLICABLE/RECLAMENTO INTERNO DEL MUNICIPIO.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">RECLAMENTO INTERNO DEL MUNICIPIO<img src="assets/img/pdf.png"/></a><br>
            <br>
        <li>ANEXOS</li>
               <br>
                <a href="assets/pdfs/ANEXO II PROYECCIONES DE INGRESOS  2018 LDF.xlsx" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ANEXO II PROYECCIONES DE INGRESOS  2018 LDF<img src="assets/img/pdf.png"/></a><br>
                <br>
                <a href="assets/pdfs/ANEXO III PROYECCIONES DE INGRESOS  2018 LDF -.xlsx" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ANEXO III PROYECCIONES DE INGRESOS  2018 LDF<img src="assets/img/pdf.png"/></a><br>
                <br> 
        <li><a href="assets/pdfs/INFORME DEL PRESIDENTE 2018.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">INFORME DEL PRESIDENTE 2018<img src="assets/img/pdf.png"/></a></li>
        <br>
        <li><a href="assets/pdfs/INICIATIVA DE LA LEY DE INGRESOS 2018.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">INICIATIVA DE LA LEY DE INGRESOS 2018<img src="assets/img/pdf.png"/></a></li>
        <br>
        <li><a href="assets/pdfs/LEY DE INGRESO 2018 PUBLICADO.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">LEY DE INGRESO 2018 PUBLICADO<img src="assets/img/pdf.png"/></a></li>
        <br>
        <br>
        <li><a href="assets/pdfs/6. Cuenta Pública/CUENTA PÚBLICA  MUNICIPAL 2018.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">CUENTA PÚBLICA  MUNICIPAL 2018<img src="assets/img/pdf.png"/></a></li>

        <br>
        <li><a href="assets/pdfs/Programa Operativo Anual/PLAN MUNICIPAL DE DESARROLLO 2017 - 2019.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">PLAN MUNICIPAL DE DESARROLLO 2017 - 2019<img src="assets/img/pdf.png"/></a></li>
        <br>
        <br>
        <li><a href="assets/pdfs/ANEXO II PROYECCIONES DE INGRESOS  2019 LDF.xlsx" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ANEXO II PROYECCIONES DE INGRESOS  2019 LDF<img src="assets/img/pdf.png"/></a></li>
        <br>
        <br>
        <li><a href="assets/pdfs/ANEXO III PROYECCIONES DE INGRESOS  2019 LDF.xlsx" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">ANEXO III PROYECCIONES DE INGRESOS  2019 LDF<img src="assets/img/pdf.png"/></a></li>
        <br>
      </ol>