<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>GALERIA</mat-card-title>
    <mat-card-subtitle>Fotos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!--INICIA ACORDION-->
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>FOTO</p>
            </mat-panel-title>
            <mat-panel-description>
                FAENA DEL PUEBLO-JORNADA
            </mat-panel-description>
          </mat-expansion-panel-header>        
                  <mat-card *ngFor="let imagen of imagenes" class="cardimagen"> 
                      <img mat-card-image src="{{imagen}}" class="imagenes">
                  </mat-card>
        </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="colorheader">
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
                FOMENTACIÓN DE DEPORTE {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
                <mat-card *ngFor="let imagen of imgDeportes" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card>
        </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
              FOTO DE LA ENTREGA UNIFORME A LOS POLICIAS {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
                <mat-card *ngFor="let imagen of imgUniformesPolis" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card>    
        </mat-expansion-panel>
        
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
                FOTOS DEL DIA DE LA MADRE {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header> 
                <mat-card *ngFor="let imagen of imgMadres" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card> 
        </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
                FOTOS DEL DIA DEL NIÑO {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
           </mat-expansion-panel-header> 
                <mat-card *ngFor="let imagen of imgNino" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card>
        </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
              FOTOS DEL DIA DEL PADRE {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
           </mat-expansion-panel-header> 
                <mat-card *ngFor="let imagen of imgPadre" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card>
        </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
                GESTION DE DOS AULAS DE PRIMARIA {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
           </mat-expansion-panel-header>
                <mat-card  *ngFor="let imagen of imgGAPrimaria" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card> 
         </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
                LAS AUDIENCIAS {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
           </mat-expansion-panel-header> 
                <mat-card *ngFor="let imagen of imgMadres" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes">
                </mat-card> 
         </mat-expansion-panel>
      
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
            <mat-panel-title>
              FOTOS
            </mat-panel-title>
            <mat-panel-description>
                ASAMBLE {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
           </mat-expansion-panel-header>
                  <mat-card *ngFor="let imagen of imgAsamble" class="cardimagen"> 
                    <img mat-card-image src="{{imagen}}" class="imagenes" >
                </mat-card>
         </mat-expansion-panel> 
      </mat-accordion>
    <!--FIN ACORDION-->
  </mat-card-content>
</mat-card>

