.cardimagen {
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 380px;
  height: 253px;
  /*hace que no sea como columnas si no que como galeria*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  z-index: 1;
 }
 .imagenes{
  border-radius: 10px;
  height:300px;
  width:420px;
 }
.example-header-image {
  background-image: url('https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y');
  background-size: cover;
}

