<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio</a>
      <a mat-list-item [routerLink]="['/historia']" routerLinkActive="router-link-active" >Historia</a>
      <a mat-list-item [routerLink]="['/transparencia']" routerLinkActive="router-link-active" >Transparencia</a>
      <a mat-list-item [routerLink]="['/galeria']" routerLinkActive="router-link-active" >Galeria</a>
      <a mat-list-item [routerLink]="['/ubicacion']" routerLinkActive="router-link-active" >Ubicación</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="color-menu" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img width="60" alt="Angular Logo" src="assets/img/iconoMexico.png">
      <span>
          SAN PEDRO SOCHIAPAM
      </span>
     </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
