<h4>
  Ley Disciplina Financiera 2017		Trimestres
</h4>

<table mat-table [dataSource]="dataSourceDiciplina2017" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="diciplina">
    <th mat-header-cell *matHeaderCellDef>diciplina</th>
    <td mat-cell *matCellDef="let element"> {{element.diciplina}} </td>
  </ng-container>
 <!-- Name Column -->
 <ng-container matColumnDef="uno">
  <th mat-header-cell *matHeaderCellDef> 1er </th>
  <td mat-cell *matCellDef="let element"> <a href="{{element.uno}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a></td>
</ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="dos">
    <th mat-header-cell *matHeaderCellDef> 2do </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element.dos}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a></td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tres">
    <th mat-header-cell *matHeaderCellDef> 3er </th>
    <td mat-cell *matCellDef="let element"><a href="{{element.tres}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a></td>
  </ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="cuatro">
    <th mat-header-cell *matHeaderCellDef> 4to </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element.cuatro}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
