<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7596.4690248768065!2d-96.66771852745272!3d17.827638164950265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smunicipio+cerca+de+San+Pedro+Sochi%C3%A1pam%2C+Oaxaca!5e0!3m2!1ses-419!2smx!4v1556824556497!5m2!1ses-419!2smx" width="1100" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
    </mat-card-content>
</mat-card>
