<app-menu-nav style="background: yellowgreen">
      
       <h2 align="center">MUNICIPIO DE SAN PEDRO SOCHIAPAM</h2>
       <h4 align="center">– Tierra de las Flores -</h4>
      
      <router-outlet></router-outlet>
     <app-footer></app-footer>
 </app-menu-nav>

