
 <br>
<mat-card>
  <p ALIGN="justify">
    San Pedro Sochiapam, es una población muy antigua, domina el idioma llamado chinanteca, según el título expedido en 1711, que Santa Ana Tecomaltepec era municipio. No era municipio como el que hoy se llama municipio de San Pedro Sochiapam, nos relata el título expedido el 26 de noviembre de 1711, en Santa Ana Tecomaltepec se presentó en el pueblo un hombre que se desconocía de donde provenía y que hablaba una lengua muy extraña, distinta a la que se practicaba en el pueblo y nadie le entendía, el señor hablaba pidiendo una comida, más sin embargo nadie le entendía y lo que las personas le daban no le gustaba ni lo aceptaba.
  </p>
  <p ALIGN="justify">
    El hombre siguió pidiendo comida, pero los habitantes ya estaban confundidos y molestos ya nadie le hacia caso y así se aburrieron de esta persona, decidieron castigarlo metiéndolo en un agujero profundo (sostono), aquel hombre gritaba pidiendo auxilio y agua para beber debido al castigo que recibía, pero los habitantes ya nadie le hizo caso, sólo le seguían aplicando castigo, orinándole la boca. Para cuando el hombre se encontraba agonizando, pasó un señor de San Pedro al escuchar aquellos gritos de auxilio se acercó y tuvo compasión de aquel hombre y le dio agua para beber y también le ayudó a salir de ahí.
  </p>
  <p ALIGN="justify">
    Después de haber tomado el agua dio las gracias dando la profecía de que el pueblo de Santa Ana iba a desaparecer sufriendo graves problemas debido al mal trato que le habían dado y que San Pedro crecería y prosperaría con las mejores condiciones de vida.
  </p>
  <p ALIGN="justify">
    Poco tiempo después que murió aquel, cuentan los ancianos que llegó una tempestad muy fuerte que destruyó la viviendas de los habitantes dejando graves daños materiales y humanos, de igual forma se presentó una peste que acabó con casi la mayoría de los habitantes y por último debido a un conflicto civil que tuvieron con los habitantes del Cerro de Ojitlán (el cerro despoblado), hoy San Lucas Ojitlán.
  </p>
  <p ALIGN="justify">
    Esto sucedió por el año de 1715 aproximadamente y los pocos que sobrevivieron se fugaron a San Juan Zautla, San Pedro, por tal motivo San Pedro Sochiapam, está habitada por dos grupos de descendientes, primero por los descendientes del mismo San Pedro Sochiapam y segundo por los descendientes de Santa Ana Tecomaltepec.
  </p>
  <p ALIGN="justify">
    Es por eso que este pueblo está conformado por dos barrios como son: barrio San Pedro y barrio Santa Ana, por lo que se cree que los fundadores de este pueblo fueron los descendientes de los que hoy viven en el centro del barrio de San Pedro, es todo lo que se sabe con respecto a las vidas de los Sanpedreños.
  </p>
</mat-card>
