<mat-tab-group>
    <mat-tab label="Artículo 9">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Artículo 9</mat-card-title>
             </mat-card-header>
             <mat-card-content>
                <ol type="I">
                    <li>Estructura Orgánica</li><br>
                    <li>Marco normativo aplicable</li><br>
                    <li>Facultades y Atribuciones</li><br>
                    <li>Directorio</li><br>
                    <li>Remuneración mensual por puesto</li><br>
                    <li>Comité de Información y Unidad de Enlace</li><br>
                    <li>Programa Operativo Anual</li><br>
                    <li>Metas y Objetivos</li><br>
                    <li>Servicios y Trámites</li><br>
                    <li>Información del Presupuesto e Informes de Ejecución</li><br>
                    <li>Deuda Pública</li><br>
                    <li>Listado de la información pública</li><br>
                    <li>Auditorias</li><br>
                    <li>Contratos, convenios y condiciones generales de trabajo</li><br>
                    <li>Programas de subsidios</li><br>
                    <li>Concesiones, licencias, permisos o autorizaciones</li><br>
                    <li>Contratos de Obra, Bienes, Servicios y Arrendamientos</li><br>
                      <!--tabla de bienes,servicios y Arrendammiento-->
                      <app-tabla-contrato-obs></app-tabla-contrato-obs>
                    <li>Informes laborales</li><br>
                    <li>Mecanismos de participación ciudadana</li><br>
                    <li>Cuenta pública del Estado, informes trimestrales y demás informes que aluden la Ley general de Contabilidad Gubernamental, la Ley Estatal de Presupuesto y Responsabilidad Hacendaria y demás disposiciones aplicables</li><br>
                      <app-lista-ley-gcontabilidad></app-lista-ley-gcontabilidad>
                      <app-tabla-avancegestion2017></app-tabla-avancegestion2017>
                      <app-tabla-estadosfinancieros2017></app-tabla-estadosfinancieros2017>
                      <app-tabla-reporte2017></app-tabla-reporte2017>
                      <app-tabla-leydiciplinariafinanciera2017></app-tabla-leydiciplinariafinanciera2017>
                      <app-tabla-avancegestion2018></app-tabla-avancegestion2018>
                      <app-tabla-estadosfinaciero2018></app-tabla-estadosfinaciero2018>
                      <app-tabla-leydiciplinafinanciera2018></app-tabla-leydiciplinafinanciera2018>
                      <app-anexos2018></app-anexos2018>
                </ol>
            </mat-card-content>
          </mat-card>
    </mat-tab>
    <mat-tab label="Artículo 16">
        <mat-card class="">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Artículo 16</mat-card-title>
             </mat-card-header>
             <mat-card-content>
                <ol type="I">
                    <li>Estadísticas e Indicadores del Desempeño</li>
                    <br>
                    <li>Ley de Ingresos y</li>
                    <br>
                    <a href="assets/pdf/Ley de Ingresos Publicado DLXIII_0257.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">Ley de ingresos Ejercicio 2017</a><br>
                    <br>
                    <li>Presupuesto de Egresos</li>
                    <a href="assets/pdf/Presupuesto de Egreso de 2017.pdf" style="text-decoration:none;color:gray;margin-left:20%" target="_blank">Presupuesto de egresos Ejercicio 2017</a><br>
                    <br>
                    <li>Plan Municipal de Desarrollo</li>
                    <br>
                    <li>Indicadores de Calidad de los Servicios Públicos</li>
                    <br>
                    <li>Resoluciones y Acuerdos de Cabildo</li>
                    <br>
                    <li>Calendario de Actividades Culturales y Recreativas</li>
                    <br>
                    <li>Actas de Cabildo</li>
                    <br>
                    <li>Situación Patrimonial, Relación de Bienes Muebles e Inmuebles</li>
                    <br>
                    <li>Aportaciones Federales y Estataless</li>
                    <br>
                    <li>Servicios Públicos de Agua Potable</li>
                    <br>
                  </ol>
            </mat-card-content>
          </mat-card>
    </mat-tab>
</mat-tab-group>


