<h4>
  Avances de Gestión Trimestres
</h4>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 <!-- año Column -->
 <ng-container matColumnDef="ano">
    <th mat-header-cell *matHeaderCellDef> Año </th>
    <td mat-cell *matCellDef="let element"> 
        {{element.ano}} -
    </td>
 </ng-container>
  <!-- Avances Column -->
  <ng-container matColumnDef="avance">
    <th mat-header-cell *matHeaderCellDef>avance</th>
    <td mat-cell *matCellDef="let element">
       {{element.avance}} 
    </td>
  </ng-container>
 <!-- uno Column -->
 <ng-container matColumnDef="uno">
  <th mat-header-cell *matHeaderCellDef> 1er </th>
  <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.uno"> 
         <a href="{{element.uno}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a>
      </div>
  </td>
</ng-container>
  <!-- dos Column -->
  <ng-container matColumnDef="dos">
    <th mat-header-cell *matHeaderCellDef> 2do </th>
    <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.dos"> 
          <a href="{{element.dos}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a>
      </div>
    </td>
  </ng-container>

  <!-- tres Column -->
  <ng-container matColumnDef="tres">
    <th mat-header-cell *matHeaderCellDef> 3er </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.dos"> 
        <a href="{{element.tres}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a>
      </div>
    </td>
  </ng-container>

   <!-- cuatro Column -->
   <ng-container matColumnDef="cuatro">
    <th mat-header-cell *matHeaderCellDef> 4to </th>
    <td mat-cell *matCellDef="let element">
        <div *ngIf="element.cuatro"> 
            <a href="{{element.cuatro}}" style="text-decoration:none;color:gray;margin-left:20%" target="_blank"><img src="assets/img/pdf.png"/></a>
        </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
