<br>
<br>
<mat-card>
    <mat-card-header>
    </mat-card-header>
       <div>
          <img mat-card-image src="assets/img/a1.png">
       </div>    
    <mat-card-content>
        <p ALIGN="center">
            San Pedro Sochiápam es un municipio que se encuentra situado en la famosa región de la Cañada en el estado de Oaxaca (Oax) y forma parte del distrito Cuicatlán.
          </p>
          <p ALIGN="center">
              El mapa de la República Mexicana muestra la posición cardinal que tiene el municipio de San Pedro Sochiápam y cuyos paralelos son 17° 79' latitud norte del trópico de cáncer y los meridianos 96° 40' longitud oeste del meridiano de Greenwich.
          </p>
          <p ALIGN="center">
              Su territorio se encuentra ubicado a una altitud promedio de 1,220 metros sobre el nivel del mar (msnm). La superficie total que tiene es de 193.93 kilómetros cuadrados.
          </p>
    </mat-card-content>
</mat-card>


